<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presence_Days_Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Presence_Days_Calculator.Properties.Settings>
            <setting name="LastUsedValue1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue6" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue7" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue8" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue9" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue10" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue11" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue12" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue13" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue14" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedValue15" serializeAs="String">
                <value />
            </setting>
        </Presence_Days_Calculator.Properties.Settings>
    </userSettings>
</configuration>